version: "3.9"

services:
  auth_service:
    build: .
    container_name: auth_service
    env_file:
      - .env
    ports:
      - "8001:8001"
    depends_on:
      - db
    networks:
      - auth_network

  db:
    image: postgres:15
    container_name: auth_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auth_network
 
volumes:
  postgres_data:
 
networks:
  auth_network:
